@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.topnav {
    font-family:'Quicksand', sans-serif;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    box-shadow: 0 0 25px 0 black;
    align-items: center;
    display: flex;
    justify-content: center;
}
.topnav a {
    margin: 20px;
    color: black;
    text-decoration: none;
    align-items: center;
    letter-spacing: 5pt;
    font-weight: bolder;
}

#main{
    background-color: white;
    margin-top: 300px;
    padding-top: 100px;
    padding-bottom: 200px;
}

.newsLinks {
    list-style: none;
    margin-left: 10%;
}

.newsLinks li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.newsLinks img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.newsLinks a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #38495a;
}

.newsLinks a:hover {
    text-decoration: underline;
}

body{
    background-color: black;
    font-family:'Quicksand', sans-serif;
    cursor: url(cursor.cur), auto;
    margin-top: 300px;
}

:hover {
  cursor: url(cursor.cur), auto;
}

  #title {
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
    background: -webkit-linear-gradient(white, #38495a);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.footer {
    padding-top: 100px;
    background-color: black;
    text-align: center;
    bottom: 0;
    width: 100%;
    color: white;

}
.footer .policyLink {
    padding-bottom: 20px;
    padding-top: 20px;
}
.footer .policyLink a{
    padding-left: 60px;
    padding-right: 60px;
    color: white;
}

.search {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 10%;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 10px 15px;
    width: 250px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    outline: none;
  }

  .search:focus {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .search-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .search-button:hover {
    background-color: #2980b9;
  }

  .sort {
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }

  .sort:hover {
    background-color: #27ae60;
  }