html{
    background-color: black;
}

body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    color: #0ff;
}

#board {
    background-color: black;
    position: relative;
    display: inline-block;
    padding: 20px;
    color: #fff;
    border: 2px solid #0ff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
  }